modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "gce"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
publicDir = "dist"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 42541
externalPort = 3002

[workflows]
runButton = "Restart Manual "

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Restart Manual "
mode = "sequential"
author = 40175426

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Remove Test User Swipes, Matches, Collabs"
mode = "sequential"
author = 40175426

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "$ npx tsx remove-user-data.ts"

[objectStorage]
defaultBucketID = "replit-objstore-21544d8e-d1bc-4014-9fcf-788e69614efc"
